body
{
    background: rgb(128, 172, 172);
    color: black;
    text-align: center;
    font-family: Arial; 
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background-color: rgb(196, 167, 124);
    box-shadow: 0px 2px 20px 0px rgb(57, 67, 60);
    color: darkcyan;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #logo
{
    width: 20px;
    vertical-align: middle; 
} 

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    margin: 0.8em;
 
}
#container
{
    width: 80%;
    padding: 0;
    text-align: left;
    border-top: 2px solid rgb(0, 139,  42);
    border-bottom: 2px solid rgb(0, 139, 42);
    border-left: 5px solid darkslateblue;
    border-right: 5px solid darkslateblue;
    margin: 0 auto;


}
#container h1
{
    font-size: 25px;
    color: darkred;
    text-align: center;
}
#post
{
    background: lightgreen;
    padding: 1em;
#footer
{
    background: darkolivegreen;
    color: aliceblue;
    text-align: center;
    padding: 0.5em;
}