body
{
    color: darkorange;
    text-align: center;
    font-family: Arial; 
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 80%;
    padding: 1em;
    text-align: left;
    border-top: 2px solid rgb(0, 139, 42);
    border-bottom: 2px solid rgb(0, 139, 42);
    border-left: 5px solid darkslateblue;
    border-right: 5px solid darkslateblue;
    text-align: justify;
    margin: 0 auto;


}